[general]
## Settings file was created by version 0.2.12 of Community Discord
## Plugin GUID: chelokot.sneakout.community-discord
## Plugin Name: Community Discord
## Plugin Version: 0.2.12

## Add a separate red Discord statue toward the lobby portal.
# Setting type: Boolean
# Default value: true
EnableMod = true

## Open this invite when the separate red Discord statue is used.
# Setting type: String
# Default value: https://discord.gg/gFVTPqqCZD
InviteUrl = https://discord.gg/gFVTPqqCZD

## Log extra community-statue diagnostics.
# Setting type: Boolean
# Default value: false
EnableLogging = false
