[general]
## Settings file was created by version 0.1.0 of Free Fly
## Plugin GUID: chelokot.sneakout.free-fly
## Plugin Name: Free Fly
## Plugin Version: 0.1.0

## Enable local free-fly controls on PageUp and PageDown.
# Setting type: Boolean
# Default value: true
EnableMod = true

## Log local free-fly movement.
# Setting type: Boolean
# Default value: false
EnableLogging = true

[movement]
## Vertical movement speed in units per second.
# Setting type: Single
# Default value: 8
MovementSpeed = 8

## Axis to move on. Y is the normal Unity vertical axis.
# Setting type: FreeFlyAxis
# Default value: Y
# Acceptable values: Y, Z
Axis = Y
