[general]
## Settings file was created by version 0.1.0 of Friend Invite Unlock
## Plugin GUID: chelokot.sneakout.friend-invite-unlock
## Plugin Name: Friend Invite Unlock
## Plugin Version: 0.1.0

## Allow party invites to stay active for offline friends.
# Setting type: Boolean
# Default value: true
EnableMod = true

## Only force invite buttons when the local player is the current team leader.
# Setting type: Boolean
# Default value: true
RequireTeamLeader = true

## Log forced friend invite state transitions.
# Setting type: Boolean
# Default value: false
EnableLogging = false
