[general]
## Settings file was created by version 0.1.0 of Friend Join Button
## Plugin GUID: chelokot.sneakout.friend-join-button
## Plugin Name: Friend Join Button
## Plugin Version: 0.1.0

## Add a separate JOIN button to the friend popup when the game's friend refresh payload exposes a joinable party.
# Setting type: Boolean
# Default value: true
EnableMod = true

## Log friend snapshot payloads and join-button decisions.
# Setting type: Boolean
# Default value: false
EnableLogging = false
