[general]
## Settings file was created by version 0.1.2 of Locker Stun Fix
## Plugin GUID: chelokot.sneakout.locker-stun-fix
## Plugin Name: Locker Stun Fix
## Plugin Version: 0.1.2

## Allow Boo only when the locker was closed as the penguin began exiting.
# Setting type: Boolean
# Default value: true
EnableMod = true

## Log seeker-opened locker tracking and suppressed locker stuns.
# Setting type: Boolean
# Default value: false
EnableLogging = false
