[general]
## Settings file was created by version 0.1.0 of Magic Wardrobe Hook Fix
## Plugin GUID: chelokot.sneakout.magic-wardrobe-hook-fix
## Plugin Name: Magic Wardrobe Hook Fix
## Plugin Version: 0.1.0

## Prevent an interrupted magic-wardrobe entry from moving a Butcher-hooked player back to the wardrobe.
# Setting type: Boolean
# Default value: true
EnableMod = true

## Log magic-wardrobe entries cancelled by a Butcher hook.
# Setting type: Boolean
# Default value: false
EnableLogging = false
