[general]
## Allow model cycling while transformed into a prop.
# Setting type: Boolean
# Default value: true
EnableMod = true

## Log successful prop model changes.
# Setting type: Boolean
# Default value: false
EnableLogging = false

[models]
## Cycle the active prop model with the mouse wheel while transformed.
# Setting type: Boolean
# Default value: true
EnableMouseWheelCycling = true
