[general]
## Settings file was created by version 0.2.0 of Pumpkin Radius Indicator Fix
## Plugin GUID: chelokot.sneakout.pumpkin-radius-indicator-fix
## Plugin Name: Pumpkin Radius Indicator Fix
## Plugin Version: 0.2.0

## Align the hunter trigger ring and the triggered kill/stun effects to their authoritative radii.
# Setting type: Boolean
# Default value: true
EnableMod = true

## Log corrected pumpkin indicator scales.
# Setting type: Boolean
# Default value: false
EnableLogging = false
