[general]
## Settings file was created by version 0.1.0 of Start Delay Reducer
## Plugin GUID: chelokot.sneakout.start-delay-reducer
## Plugin Name: Start Delay Reducer
## Plugin Version: 0.1.0

## Reduce host-side start delays during match startup.
# Setting type: Boolean
# Default value: true
EnableMod = true

## Log tick adjustments for matchmaking startup phases.
# Setting type: Boolean
# Default value: false
EnableLogging = false

[timings]
## Target duration in seconds for the BeforeStart phase.
# Setting type: Single
# Default value: 10
BeforeStartSeconds = 10

## Target duration in seconds for the CountingToStart phase.
# Setting type: Single
# Default value: 3
CountingToStartSeconds = 3
