[general]
## Settings file was created by version 0.1.0 of Uniform Seeker Random
## Plugin GUID: chelokot.sneakout.uniform-seeker-random
## Plugin Name: Uniform Seeker Random
## Plugin Version: 0.1.0

## Use uniform seeker random selection in default mode.
# Setting type: Boolean
# Default value: true
EnableMod = true

## Log uniform seeker random overrides.
# Setting type: Boolean
# Default value: false
EnableLogging = true
